---
const { title, img, desc, url, tags, target = '_blank' } = Astro.props;
---

<div
  class="rounded-lg bg-base-100 hover:bg-base-200 hover:shadow-lg group transition duration-200 ease-in card max-w-[65ch]"
>
  <a href={url} target={target}>
    <div class={img ? `hero-content flex-col md:flex-row gap-6` : `p-6`}>
      {img && <img src={img} alt={title} class="max-w-[7.5rem] rounded-lg" />}
      <div class="grow w-full">
        <h3 class="card-title text-lg md:text-xl">
          {title}
        </h3>
        <p class="py-2 text-base opacity-90">{desc}</p>
        <div class="card-actions justify-end">
          {tags && tags.map((tag) => <div class="badge badge-accent rounded-lg my-4 md:my-0">{tag}</div>)}
        </div>
        <div class="card-actions items-center mt-6">
          <a
            href={url}
            class="uppercase text-sm font-bold -ml-2 block hover:underline hover:underline-offset-4 focus:underline active:text-accent transition duration-200 after:content-['_→'] after:group-hover:text-accent after:py-1 after:pr-1 after:text-lg"
            target={target}>read article&nbsp;</a
          >
        </div>
      </div>
    </div>
  </a>
</div>
